/*
* THIS IS AN
* EXAMPLE CODE !
*/

/* IMPORT */

@import 'variables';
@import 'mixins';
@import 'shared';

body {
	font: 100% $font-stack;
	color: $primary-color;
}

/* NESTING */

nav {
	ul {
		margin: 0;
	}

	li {
		color: #333;

		&:hover {
			color: $primary-color;
		}
	}
}

/* MIXINS */

.box {
	@include border-radius(10px);
}

/* EXTEND/INHERITANCE */

.success {
	@extend %message-shared;
}

/* OPERATORS */

aside[role='complementary'] {
	width: 300px / 960px * 100%;
}
