<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<meta name="theme-color" content="#3F51B5" />
	<meta name="description" content="Weather" />
	<meta name="keywords" content="weather, cities" />
	
	<title>Weather</title>
	
	<!-- Stylesheets  -->
	<link rel="stylesheet" href="style/reset.css" />
	<link rel="stylesheet" href="style/basic.css" />
</head>
<body>
	<header class="head">
		<nav class="navigation">
			<a href="#">Weather</a>
			<ul>
				<li><a href="#">Link</a></li>
			</ul>
		</nav>
	</header>

	<main class="body">
		<section class="container">
			<article>
				<p th:text="'N. results: ' + ${results.count} + '.'" />
				<p th:text="'Results: ' + ${results._embedded} + '.'" />
			</article>
		</section>
	</main>

	<footer class="foot">
		<section class="container">
			<article>
				&copy; 2018
			</article>
		</section>
	</footer>

	<!-- Scripts -->
	<script src="scripts/jquery.js"></script>
	<script src="scripts/main.js"></script>
</body>
</html>