<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<meta name="theme-color" content="#3F51B5" />
	<meta name="description" content="Weather" />
	<meta name="keywords" content="weather, cities" />
	
	<title>Weather</title>
	
	<!-- Stylesheets  -->
	<link rel="stylesheet" href="style/reset.css" />
	<link rel="stylesheet" href="style/basic.css" />
</head>
<body>
	<header class="head">
		<nav class="navigation">
			<a href="#">Weather</a>
			<ul>
				<li><a href="#">Link</a></li>
			</ul>
		</nav>
	</header>

	<main class="body">
		<section class="container">
			<article>
				<p th:text="'City: ' + ${results.name} + '.'" />
				<p th:text="'Position lon: ' + ${results.coord.lon} + '.'" />
				<p th:text="'Position lat: ' + ${results.coord.lat} + '.'" />
				<p th:text="'Country: ' + ${results.sys.country} + '.'" />
				<p th:text="'Weather ID: ' + ${results.weather[0].id} + '.'" />
				<p th:text="'Weather icon ID: ' + ${results.weather[0].icon} + '.'" />
				<p th:text="'Weather: ' + ${results.weather[0].main} + '.'" />
				<p th:text="'Weather descr: ' + ${results.weather[0].description} + '.'" />
				<p th:text="'Temp: ' + ${results.main.temp} + '.'" />
				<p th:text="'Temp min: ' + ${results.main.temp_min} + '.'" />
				<p th:text="'Temp max: ' + ${results.main.temp_max} + '.'" />
				<p th:text="'Humidity: ' + ${results.main.humidity} + '.'" />
				<p th:text="'Pressure: ' + ${results.main.pressure} + '.'" />
				<p th:text="'Visibility: ' + ${results.visibility} + '.'" />
				<p th:text="'Wind speed: ' + ${results.wind.speed} + '.'" />
				<p th:text="'Clouds: ' + ${results.clouds.all} + '.'" />
			</article>
		</section>
	</main>

	<footer class="foot">
		<section class="container">
			<article>
				&copy; 2018
			</article>
		</section>
	</footer>

	<!-- Scripts -->
	<script src="scripts/jquery.js"></script>
	<script src="scripts/main.js"></script>
</body>
</html>